*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 480px;
    padding-right: 480px;
}
H1{
    margin-top:32px;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    color: sienna;
}

.imagem{
    width: 500px;
}

.container-imagem{
    display: flex;
    justify-content: center;
}

